<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="assets">
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>Assets</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tenants">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Tenants</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rent-tracking">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Rent</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contracts">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Contracts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="maintenance">
      <ion-icon name="build-outline"></ion-icon>
      <ion-label>Maintenance</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
