@mixin light-theme {

  .md,
  .ios {
    --ion-background-color: #EBEBEB;
    --ion-background-color-rgb: 248, 248, 248;
    --ion-text-color: #000000;
    --ion-text-color-rgb: 0, 0, 0;
    --ion-toolbar-background: #EBEBEB;
    --ion-border-color: #dadada;
    --ion-item-background: #ffffff;
    --ion-shadow: #f3f3f3;
    --ion-card-background: #ffffff;
    --ion-input-background: #ffffff;
    --ion-input-color: #000000;
    --ion-input-placeholder-color: #666666;

    --ion-color-step-50: #f3f3f3;
    --ion-color-step-100: #e8e8e8;
    --ion-color-step-150: #dcdcdc;
    --ion-color-step-200: #d1d1d1;
    --ion-color-step-250: #c5c5c5;
    --ion-color-step-300: #b9b9b9;
    --ion-color-step-350: #aeaeae;
    --ion-color-step-400: #a2a2a2;
    --ion-color-step-450: #979797;
    --ion-color-step-500: #8b8b8b;
    --ion-color-step-550: #7f7f7f;
    --ion-color-step-600: #747474;
    --ion-color-step-650: #686868;
    --ion-color-step-700: #5d5d5d;
    --ion-color-step-750: #515151;
    --ion-color-step-800: #454545;
    --ion-color-step-850: #3a3a3a;
    --ion-color-step-900: #2e2e2e;
    --ion-color-step-950: #232323;

    // Semantic colors
    --ion-color-primary: #1b9bd0;
    --ion-color-primary-rgb: 27, 155, 208;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #1786b8;
    --ion-color-primary-tint: #34a8d9;

    --ion-color-secondary: #4fc3f7;
    --ion-color-tertiary: #00bfa6;
    --ion-color-success: #42ba96;
    --ion-color-warning: #f1c92b;
    --ion-color-danger: #e04a5a;
    --ion-color-medium: #808080;
    --ion-color-light: #d4d4d4;
    --ion-color-dark: #2b2b2b;
  }
}

// ------------------------------------------------------------
//  DARK THEME
// ------------------------------------------------------------
@mixin dark-theme {

  .md,
  .ios {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    --ion-border-color: #313131;
    --ion-item-background: #191919;
    --ion-toolbar-background: #191919;
    --ion-shadow: #0a0a0a;
    --ion-card-background: #191919;
    --ion-input-background: #191919;
    --ion-input-color: #ffffff;
    --ion-input-placeholder-color: #666666;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-color-primary: #4fc3f7;
    --ion-color-primary-rgb: 79, 195, 247;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #44aedb;
    --ion-color-primary-tint: #65caf8;

    --ion-color-secondary: #1b9bd0;
    --ion-color-tertiary: #00bfa6;
    --ion-color-success: #06c288;
    --ion-color-warning: #f1c92b;
    --ion-color-danger: #e04a5a;
    --ion-color-medium: #808080;
    --ion-color-light: #2b2b2b;
    --ion-color-dark: #d4d4d4;
  }
}

:root {
  @include light-theme;
}

@media (prefers-color-scheme: no-preference),
(prefers-color-scheme: light) {
  :root {
    @include light-theme;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-theme;
  }
}

:root .light {
  @include light-theme;
}

:root .dark {
  @include dark-theme;
}

ion-card {
  --background: var(--ion-item-background) !important;
  --color: var(--ion-text-color) !important;
  border-radius: 10px !important;
  box-shadow: rgb(0 0 0 / 6%) 0 3px 1px -2px,
    rgb(0 0 0 / 6%) 0 2px 2px 0,
    rgb(0 0 0 / 6%) 0 1px 5px 0 !important;
    
}

ion-button {
  --border-radius: 10px;
  font-weight: normal;
}

ion-refresher {
  background: transparent !important;

  ion-refresher-content {
    background: transparent !important;
    --spinner-color: var(--ion-color-primary);

    ion-icon {
      color: var(--ion-color-primary);
    }
  }
}

.profile-image-modal {
  --backdrop-opacity: 0.9;
  --background: transparent;
  --border-radius: 16px;
  --height: auto;
  --width: 90%;
  --max-width: 500px;
}

.profile-image-modal::part(content) {
  --background: transparent;
  --box-shadow: none;
  --padding: 0;
}

ion-modal.custom-asset-modal {
  --width: 92vw;
  --max-width: 760px;
  --height: 90vh;
  --max-height: 90vh;
  --border-radius: 12px;
  --box-shadow: 0 12px 40px rgba(0, 0, 0, 0.18);
}
