<ion-header>
  <ion-toolbar>
    <ion-title>Assets Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="assets-page">
  <ion-refresher slot="fixed" pullMax="100" pullMin="60 " (ionRefresh)="doRefresh($event)">
    <ion-refresher-content color="primary" refreshing-spinner="crescent" pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>
  <div class="asset-header">
    <ion-button class="add-btn" color="success" shape="round" (click)="openAddAssetModal()">
      <ion-icon slot="start" name="add-outline"></ion-icon>
      ADD ASSET
    </ion-button>
  </div>

  <div class="filter-bar">
    <div class="search-container">
      <ion-icon name="search-outline"></ion-icon>
      <input type="text" placeholder="Search by owner name, plot number, or area..." [(ngModel)]="searchTerm"
        (input)="filterAssets()" />
    </div>

    <div class="filter-container">
      <ion-icon name="funnel-outline"></ion-icon>
      <ion-select interface="popover" [(ngModel)]="selectedType" (ionChange)="filterAssets()">
        <ion-select-option value="all">All Types</ion-select-option>
        <ion-select-option value="Property">Property</ion-select-option>
        <ion-select-option value="Farm">Farm</ion-select-option>
      </ion-select>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let asset of filteredAssets">
        <ion-card>
          <ion-card-header>
            <div class="card-header">
              <div class="title">
                <ion-icon [name]="asset.type === 'Farm' ? 'leaf-outline' : 'business-outline'"></ion-icon>
                <span>{{ asset.type }}</span>
              </div>
              <ion-badge color="success">Active</ion-badge>
            </div>
            <h3>{{ asset.id }}</h3>
          </ion-card-header>

          <ion-card-content>
            <p><ion-icon name="location-outline"></ion-icon> {{ asset.location }}</p>
            <p><strong>Owner:</strong> {{ asset.owner }}</p>
            <p><strong>Phone:</strong> {{ asset.phone }}</p>
            <p><strong>Usage:</strong> {{ asset.usage }}</p>
            <p><strong>Block/Plot:</strong> {{ asset.block }}</p>

            <div class="card-actions">
              <ion-button size="small" fill="outline" color="medium" (click)="editAsset(asset)">
                <ion-icon slot="start" name="create-outline"></ion-icon>Edit
              </ion-button>
              <ion-button size="small" fill="outline" color="danger" (click)="confirmDelete(asset)">
                <ion-icon slot="start" name="trash-outline"></ion-icon>Delete
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
