<ion-content>
  <div class="login-wrapper">
    <div class="login-container">
      <div class="login-icon">
        <ion-icon name="home-outline"></ion-icon>
      </div>

      <ion-item class="input-item">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-input placeholder="Email" [(ngModel)]="email" name="email" required>
        </ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Password" [(ngModel)]="password" name="password" required>
        </ion-input>
        <ion-button slot="end" fill="clear" (click)="togglePasswordVisibility()" aria-label="Toggle password visibility">
          <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </ion-button>
      </ion-item>

      <div class="options">
        <div class="remember">
          <ion-checkbox [(ngModel)]="rememberMe" name="rememberMe"></ion-checkbox>
          <label>Remember me</label>
        </div>
        <a href="#" class="forgot">Forgot Password?</a>
      </div>

      <ion-button expand="block" class="login-btn" (click)="login()" [disabled]="!email || !password || isLoading">
        <ng-container *ngIf="!isLoading; else loadingTpl">Login</ng-container>
        <ng-template #loadingTpl>
          <ion-spinner name="crescent"></ion-spinner>
          <span style="margin-left: 8px;">Logging in...</span>
        </ng-template>
      </ion-button>

      <div class="register-link">
        <p>Don't have an account? 
          <ion-button fill="clear" (click)="goToRegister()">
            Sign Up
          </ion-button>
        </p>
      </div>
    </div>
  </div>
</ion-content>
